<%= form_for([@cocktail, @cocktail.ingredients.build]) do |f| %>
<%-# form_for([@cocktail, @ingredient]) do |f| # this is karl's line - doesn't work on my version%>
<p>
    <%= f.text_field :ingredient %>
  </p>

  <p>
    <%= f.submit "Add", :class => 'btn'%>
  </p>
<% end %>
